.bg-green-500 {
  background-color: #38a169; /* Verde más oscuro */
}

.bg-blue-500 {
  background-color: #4299e1; /* Azul más oscuro */
}

.bg-gray-500 {
  background-color: #a0aec0; /* Gris más suave */
}

.rounded-lg {
  border-radius: 10px; /* Borde redondeado más pronunciado */
}
